@use "../abstract/" as *;

.dashboard {
  & &__card {
    position: relative;
    padding: {
      top: 4.5rem;
    }
    overflow: hidden;

    &,
    .dashboard__card-container {
      border-radius: 1.4rem;
    }

    &[data-work] {
      background-color: $color-accent-01;
    }

    &[data-play] {
      background-color: $color-accent-02;

      .dashboard__card-img-container {
        top: -0.6rem;
        right: 2.1rem;
      }
    }

    &[data-study] {
      background-color: $color-accent-03;
    }

    &[data-exercise] {
      background-color: $color-accent-04;

      .dashboard__card-img-container {
        top: -0.1rem;
      }
    }

    &[data-social] {
      background-color: $color-accent-05;

      .dashboard__card-img-container {
        top: -1.5rem;
        right: 1.4rem;
      }
    }

    &[data-selfcare] {
      background-color: $color-accent-06;

      .dashboard__card-img-container {
        right: 1.5rem;
      }
    }

    .dashboard__card-img-container {
      position: absolute;
      top: -1rem;
      right: 1.7rem;
    }

    .dashboard__card-container {
      position: relative;
      z-index: 1;
      padding: 2.9rem 3rem 3.2rem;
      background-color: $color-background-default;
      height: 100%;
      transition: background-color 300ms ease-in;
      cursor: pointer;

      &:hover {
        background-color: $color-background-hovered;
      }

      .content-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: {
          bottom: 2.5rem;
        }

        h2 {
          font-size: $font-size-200;
          font-weight: $font-weight-medium;
        }

        .ellipis-container {
          img {
            margin: {
              bottom: 0.2rem;
            }
            vertical-align: middle;
          }
        }
      }

      .current-timeframe {
        margin: {
          bottom: 0.8rem;
        }
        font-size: $font-size-600;
        font-weight: $font-weight-light;
      }

      .text-label {
        font-size: $font-size-100;
        font-weight: $font-weight-regular;
        color: $color-text-dark;
      }
    }
  }
}
