$color-blue-100: #56c2e6;
$color-blue-200: #bdc1ff;
$color-blue-300: #6f76c8;
$color-blue-400: #5847eb;
$color-blue-500: #1c1f4a;
$color-blue-600: #0f1424;
$color-red-100: #ff8c66;
$color-red-200: #ff5c7c;
$color-green-100: #4acf81;
$color-violet-100: #7536d3;
$color-orange-100: #f1c65b;
$color-white-100: #ffffff;

$color-text-default: $color-white-100;
$color-text-inverse: $color-blue-300;
$color-text-dark: $color-blue-200;
$color-background-default: $color-blue-500;
$color-background-dark: $color-blue-600;
$color-background-primary: $color-violet-100;
$color-background-hovered: $color-blue-300;
$color-accent-01: $color-red-100;
$color-accent-02: $color-blue-100;
$color-accent-03: $color-red-200;
$color-accent-04: $color-green-100;
$color-accent-05: $color-violet-100;
$color-accent-06: $color-orange-100;
