$font-family-default: "Rubik", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-size-100: 5.6rem;
$font-size-200: 4rem;
$font-size-300: 3.2rem;
$font-size-400: 2.4rem;
$font-size-500: 1.8rem;
$font-size-600: 1.5rem;
